
.errorMessage {
	color: #ff0000;
	font-weight: 900;
}
.infoMessage {
  color: #000000;
}
.warnMessage {
	color: #ff0000;
}

.report {
	width: 30px;
	height: 30px;
	text-align: center;
	border: 1px solid #999;
}