
.errorMessage {
	color: #ff0000;
	font-weight: 900;
}
.infoMessage {
  color: #000000;
}
.warnMessage {
	color: #ff0000;
}

.report {
	width: 30px;
	height: 30px;
	text-align: center;
	border: 1px solid #999;
}

.radioTable1 {
    width: 100%;
}

.radioTable1>tbody>tr>td {
    width: 25%;
}

.radioTable2 {
    width: 100%;
}

.radioTable2>tbody>tr>td {
    width: 100%;
    padding-bottom: 10px;
}

.showAnswer1 {
	width : 25%;
	float: left;
}

.showAnswer2 {
	width : 100%;
	float: left;
}